Report Pressione e Battiti dal 01/08/2026 al 25/08/2026
--------------------------------------------------
Data e Ora           | Max   | Min   | BPM  
--------------------------------------------------
2026-08-24 18:45:39  | 130   | 60    | 72   
2026-08-24 21:36:48  | 125   | 68    | 75   
